@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* _____________________________FONTE_____________________ */
  /* ____________ MOBIL ______________*/
  @media only screen and (min-width: 600px) {
    h1 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 1rem;
      color: #ff4700;
    }
    h2 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 0.8rem;
      color: #ff4700;
    }
    h3 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 0.7rem;
      color: #ffd4c3;
    }
    p {
      font-family: "Saira Condensed", sans-serif;
      font-size: 0.6rem;
      color: #ffd4c3;
    }
  }

  /* ____________ WEB ______________*/
  @media only screen and (min-width: 600px) {
    h1 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 1.2rem;
    }
    h2 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 1rem;
    }
    h3 {
      font-family: "Saira Condensed", sans-serif;
      font-size: 0.8rem;
    }
    p {
      font-family: "Saira Condensed", sans-serif;
      font-size: 0.7rem;
    }
  }
}
/* _____________________________STYLING AF SITE_____________________ */
@layer components {
  /* ____________MOBIL ______________*/
  @media only screen and (max-width: 600px) {
    button {
      border: solid 2px #f8ae90;
      color: #f8ae90;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 0.7rem;
      margin: 5px;
    }
  }

  /* ____________ WEB ______________*/
  @media only screen and (min-width: 600px) {
    button {
      border: solid 2px #f8ae90;
      color: #f8ae90;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      margin: 10px;
    }
  }
}
